@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Regular"),
        url("../fonts/OpenSans-Regular.ttf") format("ttf"),
        url("../fonts/OpenSans-Regular.woff") format("woff"),
        url("../fonts/OpenSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Bold"),
        url("../fonts/OpenSans-Bold.ttf") format("ttf"),
        url("../fonts/OpenSans-Bold.woff") format("woff"),
        url("../fonts/OpenSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-display: swap;
}

/* Основные стили */

html, body {
    scrollbar-gutter: stable;
}

body {
    font-family: 'OpenSans', 'Arial', sans-serif;
    font-weight: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input, button {
    border: none;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, li {
    padding: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, p, ul {
    margin: 0;
    padding: 0;
}

.elem_hidden {
    display: none;
}

  /* Header */

.header {
    background-image: url('../images/banner-bg.jpg');
    background-color: #666666;
    background-repeat: no-repeat;
    background-position: center top;
    box-sizing: border-box;
    background-size: cover;
    color: #ffffff;
    position: relative;
    z-index: 0;
    min-height: 450px;
    padding-top: 28px;
}

.header::after {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    z-index: -1;
  }

.header-content {
    max-width: 1200px;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
}

.logo-links {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 179px;
    margin-left: 3px; 
}

.mobile-logo {
    display: none;
}

.menu-list {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 35px;
    font-size: 13px;
    text-transform: uppercase;
    color: #ffffff;
    text-align: center;
    list-style-type: none;
}

.burger-menu {
    display: none;
}

.menu-list-item:hover {
    text-decoration: underline;
}

.caption {
    width: 690px;
    font-weight: bold;
    font-size: 45px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1.7;
    margin: 101px auto;
}

  /* Trends */

.trends-title {
    margin-top: 56px;
}

.trends-title-content {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
}

.trends-title-content::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 7px auto 28px;
	background-color: #e1d9bd;
}

.trends-content {
    display: flex;
    gap: 4px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trends-list-item {
    flex: 1;
    width: calc((100% - 12px) / 4);
    min-height: 320px;
    box-sizing: border-box;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    padding: 16px 21px;
    z-index: 0;
    background-color: #000000;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#trend-id-1 {
    background-image: url('../images/trend1.jpg');
}

#trend-id-2 {
    background-image: url('../images/trend2.jpg');
}

#trend-id-3 {
    background-image: url('../images/trend3.jpg');
}

#trend-id-4 {
    background-image: url('../images/trend4.jpg');
}

.trends-list-item::after {
    content: '';
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: -1;
}

.trend-container {
    flex-grow: 1;
    width: 365px;
    border: 3px solid rgba(181, 159, 91, 0.5);
    padding: 34px 31px 32px 31px;
}

.trend-tags {
    display: flex;
    gap: 20px;
    row-gap: 5px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
}

.trend-tag {
    color: #b59f5b;
    z-index: 1;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.trend-tag:hover {
    text-decoration: underline;
}

.trend-title {
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 5px;
    line-height: 1.25;
}

.trend-title:hover {
    color: #b59f5b;
}

  /* Стили для main и aside */

.main-aside-content {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 64px 15px 58px;
}

.main-content {
    display: flex;
    flex-direction: column;
    width: 778px;
}

  /* Post List */

.post {
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin-bottom: 60px;
    column-gap: 30px;
}

.post:last-child {
    margin-bottom: 0;
}

.post:nth-last-child(2) {
    margin-bottom: 63px;
}

.post-image {
    flex: 0 0 auto;
    height: auto;
    width: 49%;
    max-height: none;
    object-fit: contain;
    background-color: #eff6f1;
}

.post-content {
    width: 47%;
    flex: 1;
}

.post-tags {
    display: flex;
    gap: 20px;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 7px;
    justify-content: start;
    margin-top: 0;
    margin-bottom: 0;
}

.post-tag {
    color: #b59f5b;
    font-weight: bold;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}

.post-tag:hover {
    text-decoration: underline;
}

.post-title {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding-top: 7px;
    line-height: 1.25;
}

.post-title:hover {
    color: #b59f5b;
}

.post-meta {
    display: flex;
    font-size: 12px;
    gap: 14px;
    margin-top: 28px;
}

.post-date {
    color: #909090;
}

.post-author {
    font-weight: bold;
}

.post-resume {
    margin-top: 46px;
    font-size: 15px;
    line-height: 22px;
    color: #0f0d0e;
}

.second-paragraph {
    margin-top: 10px;
}

  /* Side Bar */

.aside-content {
    max-width: 271px;  
}

/* Latest posts */

.latest-posts {
    padding-top: 0;
}

.new-posts-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
    margin-top: 0;
}

.new-posts-title::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 14px auto 28px;
	background-color: #e1d9bd;
}

.new-posts-conteiner {
    display: flex;
    flex-wrap: wrap;
}

.new-post {
    display: flex;
    margin-bottom: 22px;
    column-gap: 19px;
    height: 70px;
    width: 100%;
}

.new-post-image {
    width: 26%;
    background-color: #f4f7f6;
}

.new-post-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 68%;
    flex: 1;
}

.new-post-data {
    font-size: 12px;
    color: #909090;
    margin-top: 0;
    line-height: 9px;
}

.new-post-text {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 18px;
    margin: 0;
}

/* Search */

.search-form {
    display: flex;
    flex-wrap: wrap;
    outline: none; 
    margin-top: 38px;
}

.search-input {
    width: 186px;
    height: 12px;
    outline: none;
    background-color: #f4f7f6;
    padding: 18px;
    font-size: 12px;
}

.search-input:focus {
    border: 1px solid #b59f5b;
    padding: 17px;
}

.search-button {
    width: 48px;
    height: 48px;
    outline: none;
    background-color: #b59f5b;
    color: white;
    background-image: url('../svg/search.svg');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.search-button:hover {
    background-color: #323232;
}

/* Subscribe */

.subscribe {
    margin-top: 58px;
    padding: 0;
}

.subscribe-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
}

.subscribe-title::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 10px auto 22px;
	background-color: #e1d9bd;
}

.subscribe-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.email-input {
    padding: 18px;
    width: 235px;
    outline: none;
    background-color: #f4f7f6;
    font-size: 12px;
}

.email-input:focus {
    border: 1px solid #b59f5b;
    padding: 17px;
}

.subscribe-button {
    padding: 10px;
    width: 271px;
    height: 48px;
    background-color: #b59f5b;
    color: white;
    cursor: pointer;
    margin-top: 17px;
}

.subscribe-button:hover {
    background-color: #323232;
}

.subscribe-button-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

/* Tags */

.tags {
    margin-top: 57px;
    padding: 0;
}

.tags-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
}

.tags-title::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 10px auto 22px;
	background-color: #e1d9bd;
}

.tags-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
}

.tag-item {
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
    padding: 5px 13px;
    line-height: 14px;
    border: 3px solid #eeeeee;
}

.tag-item:hover {
    border-color: #b59f5b;
}

/* Categories */

.categories {
    margin-top: 57px;
    padding: 0;
}

.categories-title {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
}

.categories-title::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 10px auto 22px;
	background-color: #e1d9bd;
}

.categories-list {
    display: flex;
    flex-direction: column;
    gap: 25px;
    position: relative;
}

.category-item {
    position: relative;
    font-size: 14px;
    font-weight: bold;
}

.category-item:hover {
    color: #b59f5b;
}

.category-item-count {
    color: #b59f5b;
    vertical-align: super;
    font-size: 12px;
}

.category-item::after {
    content: '';
    position: absolute;
    top: 33px;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #eeeeee;
}

  /* Shop */

.shop {
    box-sizing: border-box;
    margin: 0 auto 64px auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}

.shop-title {
    margin-top: 3px;
}

.shop-title-content {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #0f0d0e;
    line-height: 1;
}

.shop-title-content::after {
	content: "";
	display: block;
	width: 67px;
	height: 3px;
	margin: 11px auto 28px;
	background-color: #e1d9bd;
}

.products-container {
    display: flex;
    justify-content: space-between;

}

.product {
    display: flex;
    flex-direction: column;
    width: 346px;
}

.product-image {
    padding: 0 23px;
}

.product-content {
    position: relative;
    border: 3px solid rgba(181, 159, 91, 0.5);
    margin-top: -35px;
    padding: 48px 20px 27px;
    flex-grow: 1;
}

.product-name {
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    color: #0f0d0e;
    line-height: 26px;
    margin-bottom: 3px;
}

.product-resume {
    font-size: 15px;
}

.product-resume a {
    color: #b59f5b;
}

.product-resume a:hover {
    text-decoration: underline;
}

.button-price-shop {
    display: flex;
    justify-content: space-between;
    margin-top: 23px;
}

.button-shop {
    width: 140px;
    height: 49px;
    background-color: #b59f5b;
    color: #ffffff;
}

.button-shop:hover {
    background-color: #323232;
}

.button-shop-text {
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
}

.product-price {
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
    color: #0f0d0e;
    line-height: 12px;
}

.product-resume {
    font-size: 15px;
    line-height: 1.4;
}

.new-price.doll-price {
    padding-top: 6px;
    padding-left: 2px;
}

.old-price {
    text-decoration: line-through;
    font-size: 15px;
}

  /* Footer */

.footer-section {
    box-sizing: border-box;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px 43px;
}

.social-media {
    background-color: #f4f7f6;
    padding: 32px 0 32px 2px;
}

.social-media-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 27px;
}

.social-media-list-item {
    display: block;
    height: 20px;
    width: 20px;
}

.dribbble-logo {
    background-image: url('../svg/001-dribbble.svg');
}

.pinterest-logo {
    background-image: url('../svg/001-pinterest.svg');
}

.tumblr-logo {
    background-image: url('../svg/003-tumblr.svg');
}

.copyright-info {
    color: #999999;
    font-weight: bold;
    font-size: 12px;
    margin-top: 69px;
    padding-left: 11px;
    text-align: center;
}

  /* Popup */

  .popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
  }

  .feedback-form {
    position: relative;
    box-sizing: border-box;
    padding: 48px 30px 49px 30px;
    margin-top: 237px;
    background-color: #ffffff;
    width: 390px;
    height: 589px;
  }

  .feedback-form::after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    top: -26px;
    right: -2px;
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-size: 18px;
}

.feedback-form-title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #0f0d0e;
    padding-left: 6px;
    margin-bottom: 25px;
}

.feedback-form-title::after {
	content: "";
	display: block;
	width: 66px;
	height: 3px;
	margin: 7px auto 28px;
	background-color: #e1d9bd;
}

.feedback-select {
    display: flex;
    flex-direction: column;
    gap: 9px;
    margin-bottom: 30px;
}

.feedback-question {
    font-size: 13px;
    line-height: 17.2px;
}

.select-list {
    font-size: 13px;
    padding: 0 19px 3px;
    width: 100%;
    height: 48px;
    outline: none;
    appearance: none;
    border: none;
    cursor: pointer;
    background-color: #f4f7f6;
    background-image: url("../svg/form-arrows.svg");
    background-size: 9px 18px;
    background-repeat: no-repeat;
    background-position: right 12px center;
}

.select-item {
    font-size: 13px;
    color: #000000;
}

.select-list:focus {
    outline: 1px solid #b59f5b;
}

.feedback-radio {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 27px;
}

.radio-box {
    display: flex;
    font-size: 13px;
    gap: 15px;
}

.radio-item {
    display: flex;
    gap: 2px;
    align-items: center;
}

.radio-input {
    width: 17px;
    height: 17px;
    margin: 3px 2px;
    cursor: pointer;
    appearance: none;
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-size: 17px;
}

.radio-input:checked {
    background-image: url("../svg/form-circle.svg");
}

.feedback-textarea {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    flex-wrap: wrap;
}

.textarea-item {
    box-sizing: border-box;
    appearance: none;
    width: 100%;
    height: 133px;
    padding: 17px 21px;
    border: none;
    outline: none;
    background-color: #f4f7f6;
    font-size: 13px;
}

.textarea-item:focus {
    padding: 16px 20px;
    border: 1px solid #b59f5b;
}

.feedback-send {
    width: 100%;
    height: 48px;
    border: none;
    cursor: pointer;
    background-color: #b59f5b;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    margin-top: 25px;
}

.feedback-send:hover {
    background-color: #323232;
}

._hidden {
    display: none;
}

  /* Tablet */

@media (max-width: 1199px) {
    .header {
        background-image: url("../images/banner-bg-tablet.jpg");
        background-position: left bottom;
        padding-top: 43px;
        min-height: 392px;
    }

    .header-content {
        padding: 0 35px;
    }

    .logo {
        width: 158px;
        margin-left: 0; 
    }

    .menu-list {
        display: none;
    }

    .burger-menu {
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }

    .burger-item {
        width: 23px;
        height: 3px;
        background-color: #ffffff;
    }

    .caption {
        max-width: 600px;
        font-size: 40px;
        text-transform: uppercase;
        text-align: center;
        line-height: 1.4;
        margin: 86px auto;
    }

    .trends-title {
        margin-top: 45px;
    }

    .trends-title-content {
        font-size: 18px;
    }
    
    .trends-title-content::after {
        width: 67px;
        height: 3px;
        margin: 7px auto 19px;
    }
    
    .trends-content {
        gap: 3px;
    }

    .trends-list-item {
        width: calc((100% - 3px) / 2);
        min-height: 247px;  
    }

    .trend-container {
        padding: 30px 59px 26px 30px;
        margin-left: 0;
        margin-right: 0;
    }
    
    .trend-tags {
        font-size: 14px;
        margin-bottom: 5px;
    }

    article h3.trend-title {
        font-size: 17px;
    }

    .main-aside-content {
        padding: 50px 36px 59px 31px;
        gap: 35px;
    }

    .search-form {
        flex-wrap: nowrap;
        width: 100%;
    }

    .search-input {
        width: calc(100% - 50px);
        padding-right: 2px;
    }

    .subscribe-form {
        width: 100%;
    }

    .email-input {
        width: calc(100% - 36px);
    }

    .subscribe-button {
        width: 100%;
    }

    .post {
        position: relative;
        flex-direction: column;
        row-gap: 15px;
        margin-bottom: 62px;
    }

    .post:nth-child(n + 1)::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        top: -45px;
    }


    .post-image {
        padding-left: 3px;
        width: calc(100% - 3px);
    }

    .post-content {
        padding-left: 3px;
        width: calc(100% - 3px);
    }

    .post-tags {
        margin-left: 4px;
        gap: 18px;
        row-gap: 10px;
    }

    .post-title {
        font-size: 17px;
        line-height: 22px;
        margin-top: 10px;
        margin-bottom: 31px;
        padding-right: 0;
    }

    .post-meta {
        margin-bottom: 28px;
    }

    .post-date {
        margin-right: 12px;
    }

    .post-resume {
        margin-left: 5px;
    }

    .shop { 
        padding: 0 35px 51px;
        margin-left: 0;
        margin-right: 0;
    }

    .products-container {
        flex-wrap: wrap;
        row-gap: 27px;
        column-gap: 22px;
    }

    .product{
        width: calc((100% - 22px) / 2);
    }

    .product-image {
        padding: 0 23px;
    }

    .product-content {
        margin-top: -37px;
    }

    .product-image-item {
        width: 100%;
    }

    .shop-title-content {
        font-size: 18px;
    }

    .product-name {
        font-size: 17px;
    }

    .copyright-info {
        margin-top: 45px;
    }

    .feedback-form {
        height: 595px;
    }

    .feedback-form-title {
        font-size: 18px;
        margin-bottom: 24px;
    }

    .feedback-form-title::after {
        margin-bottom: 26px;
    }

    .feedback-form::after {
        background-size: 27px;
        width: 27px;
        height: 27px;
        top: -36px;
        right: 1px; 
    }

    .select-list {
        background-position: right 15px center;
        background-size: 9px 17px;
    }

    .feedback-radio {
        margin-bottom: 26px;
    }

    .radio-box {
        gap: 31px;
    }

    .radio-item {
        align-items: center;
    }

    .radio-input {
        width: 25px;
        height: 25px;
        background-size: 25px;
    }

    .feedback-textarea {
        margin-bottom: 0;
    }

    .textarea-item {
        height: 131px;
    }

    .feedback-send {
        margin-top: 26px;
    }
}

  /* Mobile */

@media (max-width: 640px) {
    .header {
        background-image: url("../images/banner-mobile.jpg");
        height: 639px;
        padding-top: 32px;
    }

    .header-content {
        padding: 0 15px;
    }

    .logo {
        display: none;
    }

    a .mobile-logo {
        margin: 174px auto 0;
        display: block;
        max-width: 269px;
    }

    .caption {
        font-size: 26px;
        line-height: 36px;
        max-width: 280px;
        width: auto;
        padding-right: 0;
        padding-left: 4px;
        margin-top: 30px;
    }

    .trends-title {
        font-size: 16px;
        margin-top: 39px;
    }

    article h3 .trend-title {
        font-size: 16px;
    }

    .trends-content {
        flex-direction: column;
    }

    .trends-list-item {
        width: 100%;
        min-height: 231px;
        padding: 15px;
    }

    .trend-container {
        padding: 33px 25px 31px 18px;
    }

    .trends-title-content {
        font-size: 16px;
    }

    .trends-title-content::after {
        margin-bottom: 25px;
    }

    .main-aside-content {
        flex-wrap: wrap;
        gap: 67px;
        padding: 44px 15px 57px 15px;
    }

    .main-content {
        width: 100%;
    }

    .post {
        row-gap: 12px;
        margin-bottom: 58px;
    }

    .post-title {
        font-size: 16px;
        line-height: 20px;
        margin-top: 3px;
        margin-bottom: 18px;
    }

    .post-meta {
        margin-top: 0;
        margin-bottom: 14px;
    }

    .post-resume {
        margin-top: 0;
        margin-left: 3px;
    }

    .post:nth-child(n + 1)::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: #eeeeee;
        bottom: -23px;
    }

    .post:nth-child(n + 2)::before {
        content: none;
    }

    .aside-content {
        width: 100%;
        max-width: 100%;
        align-items: center;
    }

    .new-post-image {
        width: 70px;
    }

    .new-post-content {
        width: calc(100% - 89px);
    }

    .search-form {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .subscribe {
        margin-top: 38px;
    }

    .subscribe-form {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .tags {
        margin-top: 38px;
    }

    .tags-list {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
    }

    .categories {
        margin-top: 38px;
    }

    .categories-list {
        max-width: 330px;
        margin-left: auto;
        margin-right: auto;
        gap: 24px;
    }

    .shop {
        padding: 0 15px;
        margin-bottom: 41px;
    }

    .products-container {
        flex-direction: column;
    }

    .product{
        width: 100%;
    }

    .popup {
        width: auto;
        padding: 0 15px;
    }

    .feedback-form {
        height: 546px;
        padding: 25px 27px 30px 24px;
        margin-top: 56px;
    }

    .feedback-form::after {
        top: -32px;
        right: 1px;
    }

    .feedback-form-title {
        font-size: 16px;
        margin-bottom: 28px;
    }

    .feedback-form-title::after {
        top: 31px;
    }

    .radio-box {
        gap: 33px;
    }
}

/* Orientation Landscape */

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trends-list-item {
        width: calc((100% - 12px) / 4);
    }

    .trend-container {
        padding: 26px;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trends-content {
        flex-direction: row;
    }

    .trends-list-item {
        width: calc((100% - 3px) / 2);
    }

    .trend-container {
        padding: 18px;
    }
}